#search {
	background: transparent;
	border: none;
	height: 44px;
	right: 20px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 110px;
	width: 237px;
	z-index: 1;
}

#search form .search
{
	position: relative;
	z-index: 9;
}

#search form .search .inputbox {
	background: url("../images/search-input.png") no-repeat scroll left top transparent;
	border: none;
	color: #EFF2EB;
	display: inline-block;
	float: left;
	font-size: 11px;
	height: 18px !important;
	line-height: 1.2345em;
	padding: 5px 10px;
	vertical-align: middle;
	width: 156px;
}

#search form .search .button {
	background: url("../images/search-button.png") no-repeat scroll left top transparent;
	border: none;
	border-radius: 0;
	color: #FFFCF8 !important;
	cursor: pointer;
	display: inline-block;
	float: right;
	font-family: 'Oswald', sans-serif;
	font-size: 13px;
	font-style: normal !important;
	font-weight: normal;
	height: 29px;
	letter-spacing: 0;
	line-height: 28px !important;
	margin: 0;
	padding: 0 0 2px 0;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	width: 58px;
}

#search form .search .button:hover {
	background: url("../images/search-button.png") no-repeat scroll left bottom transparent;
	color: white;
}
